.my-custom-dropdown {
  border: 1px solid gray;
  border-radius: 8px;
  transition: border 0.5s;
  transition: background-color 0.5s;

  &:hover {
    border: 1px solid darken(gray, 10%);
    background-color: lighten($color: gray, $amount: 47%);
    box-shadow: none;
  }

  &:focus {
    border: 2px solid darken(#00A3EF, 10%);
    box-shadow: none;
    padding: 8px 4px;
  }

  &:disabled {
    background-color: lighten(gray, 40%);
  }
}

.my-custom-dropdown-content {
  padding: 5px 0;
  border: 1px solid lighten(gray, 10%);
  border-radius: 5px;
}

.custom-option, .custom-option-selected {
  font-size: 0.95em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: none;

  &:hover, &:focus {
    background-color: lighten(#00A3EF, 47%);
  }

  .option-icon {
    padding-right: 8px;
  }
}

.custom-option-selected {
  color: white;
  background-color: #00A3EF;

  &:hover, &:focus {
    background-color: darken(#00A3EF, 5%);
  }
}
