$dark-green: #54854C;
$light-green: #CCE7C8;

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $light-green;
}

.header {
  display: flex;
  flex: 1 0 100px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $dark-green;
  padding: 3em 0;
  color: white;

  .title {
    font-size: 2em;
    padding: 0.2em 0;
    margin: 0.2em 0;
    border-bottom: 2px solid white;
  }

  .description {
    margin: 1em auto;
    text-align: center;
    max-width: 50%;

    a {
      color: white;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2em 0;

  .section-title {
    font-size: 1.25em;
    margin: 0 0 0.5em 0;
    display: flex;

    .section-source-link {
      display: flex;
      border-radius: 4px;
      border: 2px solid #598951;
      margin-left: 4px;
      padding: 1px 8px 0 8px;
      font-size: 0.7em;

      text-decoration: none;
      color: #717171;
      font-weight: 600;
    }
  }

  .buttons-container {
    display: flex;
    margin: 0.4em 0 0 0;
  }

  &:last-child {
    padding: 2em 0 4em 0;
  }
}

.footer {
  display: flex;
  flex: 1 1 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2em 0;

  .copyright {
    text-align: center;
    color: #878787;
  }
}

.ant-anchor-wrapper {
  background-color: unset !important;
}
