html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex: 1 0 100px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 3em 0;

  .title {
    font-size: 2em;
    padding: 0.2em 0;
    margin: 0.2em 0;
    border-bottom: 2px solid black;
  }

  .description {
    margin: 1em auto;
    text-align: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2em 0;

  .section-title {
    font-size: 1.25em;
    margin: 0 0 0.5em 0;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;

    .checkbox-input {
      display: flex;
      flex-direction: row;
    }
  }
}

.footer {
  display: flex;
  flex: 1 1 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 2em 0;

  .copyright {
    text-align: center;
  }
}

.option-left {
  text-align: left;
}

.option-right {
  text-align: right;
}

.fa-frown {
  color: red;
}

.fa-smile {
  color: green;
}

.custom-arrow {
  padding: 0 0.5em;
}
